#main-menu {
    width: 100%;
    background-color: #000000;
    height: 80px;
}

#menu-urls{
    border-bottom: 3px solid #efefef;
    height: 80px;
}

#text-highlight{
    text-align: center;
}

#text-highlight p {
    font-size: 15px;
}

#icon-block{
    margin-left: 5%;
}

#block-images-text{
    background-color: #eeeeee;
}

#block-images-text::after{
    width: 100%;
    display: inline-block;
    content: '';
    height: 70  px;
    background: #eeeeee;
}